@import "../../../public/static/styles/Colors";

.root {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  outline: none;
  resize: none;
  white-space: pre-wrap;
  background: white;
  border: 2px solid black;
  background: $light-bg-color;
  color: $light-text-color;
}
