.spaceTop {
  margin-top: 4px;
}

.spaceBottom {
  margin-bottom: 32px;
}

.spaceRight {
  margin-right: 16px;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
